body{
    background-color: #FAEFCE;
    color: #4E3025;
    font-family:'Courier New', Courier, monospace;
}

button{
    background-color: #4E3025;
    color: #FAEFCE;
    border-color: transparent;
    border-radius: 20px;
    width: fit-content;
}

a{
    text-decoration: none;
}

input{
    display: none;
}
input:checked+label.pink{
    color:#F8C1BF;
}
input:checked+label.yellow{
    color:#E2BE5E;
}
input:checked+label.green{
    color:#C2E0BB;
}
input:checked+label.blue{
    color:#68C8D2;
}

/*.star{
    width:1.0em;
    height:1.0em;
    color: #4E3025;
}*/