@import url("https://use.typekit.net/qmv8wym.css");

body{
    background-color: #FAEFCE;
    color: #4E3025;
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.index{
    padding-top: 45vh;
    margin: auto;
    height: fit-content;
    width: fit-content;
}

.intro{
    padding-top: 45vh;
    margin: auto;
    height: fit-content;
    width: fit-content;
}

.intro a{
    padding: auto;
}
h1{
    text-align: center;
}

.button{
    display: flex;
    background-color: #4E3025;
    color: #FAEFCE;
    border-color: transparent;
    border-radius: 20px;
    width: fit-content;
}

a{
    text-decoration: none;
}

a:visited{
    color: #4E3025;
}

input{
    display: none;
}

input:checked+label.pink{
    color:#F8C1BF;
}
input:checked+label.yellow{
    color:#E2BE5E;
}
input:checked+label.green{
    color:#C2E0BB;
}
input:checked+label.blue{
    color:#68C8D2;
}
